<center>
<h4>Universidad Nacional de Córdoba - Facultad de Matemática, Astronomía, Física y Computación</h4>
<h3>Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones</h3>
</center>

# ¿Cómo leer datos desde pandas?

En esta primera notebook, aprendemos cómo cargar un conjunto de datos utilizando pandas y cómo ver su contenido.

In [1]:
import io
import pandas
import seaborn

# test

print(seaborn.__version__)

0.9.0

In [5]:
df = pandas.read_csv('datos/Dataset AyVD 2020 (respuestas) - Respuestas de formulario 1.csv')

Con esta operación, hemos creado un DataFrame (DF) de pandas en base al archivo de respuestas. Un DataFrame no es más que una tabla sobre la cual podemos aplicar un montón de operaciones similares a las de Excel o a las SQL. En esta notebook no pretendemos hacer un tutorial de pandas, el Internet está lleno de ellos, pero sí iremos explicando cómo implementar determinadas operaciones necesarias para el análisis de este conjunto de datos.

Veamos qué tiene adentro el DataFrame `df`.

In [6]:
df

,Marca temporal,¿Con qué género te identificás?,¿Qué edad tenés?,¿De qué signo sos?,¿A qué te dedicás?,¿Cuánto creés que gana por mes un programador (con dos o menos años de experiencia) en la industria argentina?,¿Cuánto creés que gana por mes un programador (con tres o más años de experiencia) en la industria argentina?
0,31/03/2020 17:10:01,Mujer,27,Tauro,Programadora,40000,80000
1,12/05/2020 15:19:14,Mujer,40,Acuario,Docente investigadora,50000,90000
2,13/05/2020 13:43:48,Hombre,22,Géminis,Estudiante de Astronomía,25000,60000
3,13/05/2020 18:12:04,Mujer,23,Cáncer,profesora,32000,50000
4,14/05/2020 16:30:09,Hombre,33,Capricornio,Docente investigador,60000,80000
5,14/05/2020 19:46:32,Hombre,29,Sagitario,Ingenieria de circuitos integrados,55000,75000
6,14/05/2020 19:46:57,Hombre,36,Libra,Emprendedor,50000,80000
7,14/05/2020 19:49:24,Hombre,28,Cáncer,Diseñador de circuitos digitales,50000,60000
8,14/05/2020 19:53:12,Hombre,39,Escorpio,programador,100000,150000
9,14/05/2020 19:54:35,Hombre,28,Géminis,Estudiante de Sociología,40000,60000
10,14/05/2020 19:57:29,Hombre,33,Acuario,investigador-docente,60000,80000
11,14/05/2020 20:00:52,Hombre,29,Virgo,Analista de Datos,50000,90000
12,14/05/2020 20:17:37,Hombre,25,Libra,Economista,50000,80000
13,14/05/2020 20:29:10,Hombre,36,Libra,programador,40000,50000
14,14/05/2020 20:41:58,Hombre,30,Sagitario,Programador,30000,45000
15,14/05/2020 21:06:36,Hombre,27,Aries,Estudiante de ingeniería,50000,90000
16,14/05/2020 21:10:10,Hombre,26,Libra,Programador,50000,90000
17,14/05/2020 21:16:43,Hombre,25,Aries,Programador,40000,60000
18,14/05/2020 21:40:58,Mujer,27,Aries,economista,65000,90000
19,14/05/2020 21:41:22,Hombre,36,Leo,programador,50000,70000
20,14/05/2020 21:56:20,Hombre,28,Virgo,Empleado,70000,125000
21,14/05/2020 21:58:39,Mujer,27,Picis,Economista,55000,80000
22,14/05/2020 22:12:19,Hombre,47,Escorpio,Gestión,60000,90000
23,14/05/2020 22:27:18,Hombre,26,Géminis,Programador,40000,70000
24,14/05/2020 22:55:06,Mujer,30,Picis,Analista de Datos,60000,75000
25,14/05/2020 23:04:03,Hombre,39,Capricornio,programador,50000,80000
26,15/05/2020 7:41:14,Hombre,42,Escorpio,docente,40000,70000
27,15/05/2020 8:56:45,Hombre,46,Picis,Programador,50000,75000
28,15/05/2020 9:10:49,Hombre,51,Géminis,Varios,20000,35000
29,15/05/2020 9:11:50,Hombre,23,Leo,Programador,60000,90000
30,15/05/2020 9:17:14,Mujer,25,Leo,"programadora, artista",50000,80000

In [7]:
df.columns

Index(['Marca temporal', '¿Con qué género te identificás?', '¿Qué edad tenés?',
       '¿De qué signo sos?', '¿A qué te dedicás?',
       '¿Cuánto creés que gana por mes un programador (con dos o menos años de experiencia) en la industria argentina?',
       '¿Cuánto creés que gana por mes un programador (con tres o más años de experiencia) en la industria argentina?'],
      dtype='object')

In [8]:
len(df)

31

In [9]:
df['Marca temporal']

0     31/03/2020 17:10:01
1     12/05/2020 15:19:14
2     13/05/2020 13:43:48
3     13/05/2020 18:12:04
4     14/05/2020 16:30:09
5     14/05/2020 19:46:32
6     14/05/2020 19:46:57
7     14/05/2020 19:49:24
8     14/05/2020 19:53:12
9     14/05/2020 19:54:35
10    14/05/2020 19:57:29
11    14/05/2020 20:00:52
12    14/05/2020 20:17:37
13    14/05/2020 20:29:10
14    14/05/2020 20:41:58
15    14/05/2020 21:06:36
16    14/05/2020 21:10:10
17    14/05/2020 21:16:43
18    14/05/2020 21:40:58
19    14/05/2020 21:41:22
20    14/05/2020 21:56:20
21    14/05/2020 21:58:39
22    14/05/2020 22:12:19
23    14/05/2020 22:27:18
24    14/05/2020 22:55:06
25    14/05/2020 23:04:03
26     15/05/2020 7:41:14
27     15/05/2020 8:56:45
28     15/05/2020 9:10:49
29     15/05/2020 9:11:50
30     15/05/2020 9:17:14
Name: Marca temporal, dtype: object

## Variables y columnas

Para trabajar más cómodamente, renombraremos las columnas de DataFrame. Tengan cuidado de que el orden de los nombres nuevos se corresponda con el contenido de cada columna.

In [10]:
df.columns = ['timestamp', 'gender', 'age', 'zodiac_sign', 'profession', 'junior_programmer_salary', 'senior_programmer_salary']

In [11]:
df

,timestamp,gender,age,zodiac_sign,profession,junior_programmer_salary,senior_programmer_salary
0,31/03/2020 17:10:01,Mujer,27,Tauro,Programadora,40000,80000
1,12/05/2020 15:19:14,Mujer,40,Acuario,Docente investigadora,50000,90000
2,13/05/2020 13:43:48,Hombre,22,Géminis,Estudiante de Astronomía,25000,60000
3,13/05/2020 18:12:04,Mujer,23,Cáncer,profesora,32000,50000
4,14/05/2020 16:30:09,Hombre,33,Capricornio,Docente investigador,60000,80000
5,14/05/2020 19:46:32,Hombre,29,Sagitario,Ingenieria de circuitos integrados,55000,75000
6,14/05/2020 19:46:57,Hombre,36,Libra,Emprendedor,50000,80000
7,14/05/2020 19:49:24,Hombre,28,Cáncer,Diseñador de circuitos digitales,50000,60000
8,14/05/2020 19:53:12,Hombre,39,Escorpio,programador,100000,150000
9,14/05/2020 19:54:35,Hombre,28,Géminis,Estudiante de Sociología,40000,60000
10,14/05/2020 19:57:29,Hombre,33,Acuario,investigador-docente,60000,80000
11,14/05/2020 20:00:52,Hombre,29,Virgo,Analista de Datos,50000,90000
12,14/05/2020 20:17:37,Hombre,25,Libra,Economista,50000,80000
13,14/05/2020 20:29:10,Hombre,36,Libra,programador,40000,50000
14,14/05/2020 20:41:58,Hombre,30,Sagitario,Programador,30000,45000
15,14/05/2020 21:06:36,Hombre,27,Aries,Estudiante de ingeniería,50000,90000
16,14/05/2020 21:10:10,Hombre,26,Libra,Programador,50000,90000
17,14/05/2020 21:16:43,Hombre,25,Aries,Programador,40000,60000
18,14/05/2020 21:40:58,Mujer,27,Aries,economista,65000,90000
19,14/05/2020 21:41:22,Hombre,36,Leo,programador,50000,70000
20,14/05/2020 21:56:20,Hombre,28,Virgo,Empleado,70000,125000
21,14/05/2020 21:58:39,Mujer,27,Picis,Economista,55000,80000
22,14/05/2020 22:12:19,Hombre,47,Escorpio,Gestión,60000,90000
23,14/05/2020 22:27:18,Hombre,26,Géminis,Programador,40000,70000
24,14/05/2020 22:55:06,Mujer,30,Picis,Analista de Datos,60000,75000
25,14/05/2020 23:04:03,Hombre,39,Capricornio,programador,50000,80000
26,15/05/2020 7:41:14,Hombre,42,Escorpio,docente,40000,70000
27,15/05/2020 8:56:45,Hombre,46,Picis,Programador,50000,75000
28,15/05/2020 9:10:49,Hombre,51,Géminis,Varios,20000,35000
29,15/05/2020 9:11:50,Hombre,23,Leo,Programador,60000,90000
30,15/05/2020 9:17:14,Mujer,25,Leo,"programadora, artista",50000,80000

In [12]:
df.timestamp

0     31/03/2020 17:10:01
1     12/05/2020 15:19:14
2     13/05/2020 13:43:48
3     13/05/2020 18:12:04
4     14/05/2020 16:30:09
5     14/05/2020 19:46:32
6     14/05/2020 19:46:57
7     14/05/2020 19:49:24
8     14/05/2020 19:53:12
9     14/05/2020 19:54:35
10    14/05/2020 19:57:29
11    14/05/2020 20:00:52
12    14/05/2020 20:17:37
13    14/05/2020 20:29:10
14    14/05/2020 20:41:58
15    14/05/2020 21:06:36
16    14/05/2020 21:10:10
17    14/05/2020 21:16:43
18    14/05/2020 21:40:58
19    14/05/2020 21:41:22
20    14/05/2020 21:56:20
21    14/05/2020 21:58:39
22    14/05/2020 22:12:19
23    14/05/2020 22:27:18
24    14/05/2020 22:55:06
25    14/05/2020 23:04:03
26     15/05/2020 7:41:14
27     15/05/2020 8:56:45
28     15/05/2020 9:10:49
29     15/05/2020 9:11:50
30     15/05/2020 9:17:14
Name: timestamp, dtype: object

In [13]:
df['age']

0     27
1     40
2     22
3     23
4     33
5     29
6     36
7     28
8     39
9     28
10    33
11    29
12    25
13    36
14    30
15    27
16    26
17    25
18    27
19    36
20    28
21    27
22    47
23    26
24    30
25    39
26    42
27    46
28    51
29    23
30    25
Name: age, dtype: int64