<center>
<h4>Universidad Nacional de Córdoba - Facultad de Matemática, Astronomía, Física y Computación</h4>
<h3>Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones</h3>
</center>

# ¿Cómo leer datos desde pandas?

En esta primera notebook, aprendemos cómo cargar un conjunto de datos utilizando pandas y cómo ver su contenido.

In [0]:
import io
import pandas
import seaborn

# test

print(seaborn.__version__)

0.10.1

In [0]:
df = pandas.read_csv('datos/Dataset AyVD 2020 (respuestas) - Respuestas de formulario 1.csv')

Con esta operación, hemos creado un DataFrame (DF) de pandas en base al archivo de respuestas. Un DataFrame no es más que una tabla sobre la cual podemos aplicar un montón de operaciones similares a las de Excel o a las SQL. En esta notebook no pretendemos hacer un tutorial de pandas, el Internet está lleno de ellos, pero sí iremos explicando cómo implementar determinadas operaciones necesarias para el análisis de este conjunto de datos.

Veamos qué tiene adentro el DataFrame `df`.

In [0]:
df

,Marca temporal,¿Con qué género te identificás?,¿Qué edad tenés?,¿De qué signo sos?,¿A qué te dedicás?,¿Cuánto creés que gana por mes un programador (con dos o menos años de experiencia) en la industria argentina?,¿Cuánto creés que gana por mes un programador (con tres o más años de experiencia) en la industria argentina?
0,31/03/2020 17:10:01,Mujer,27,Tauro,Programadora,40000,80000
1,12/05/2020 15:19:14,Mujer,40,Acuario,Docente investigadora,50000,90000
2,13/05/2020 13:43:48,Hombre,22,Géminis,Estudiante de Astronomía,25000,60000
3,13/05/2020 18:12:04,Mujer,23,Cáncer,profesora,32000,50000
4,14/05/2020 16:30:09,Hombre,33,Capricornio,Docente investigador,60000,80000
...,...,...,...,...,...,...,...
83,15/05/2020 18:55:53,Hombre,28,Picis,Data Engineer,60000,140000
84,15/05/2020 19:11:15,Otro,45,Géminis,Diseño gráfico,68000,80000
85,15/05/2020 19:11:46,Prefiero no decirlo,9,Libra,lksadaokpoqwe,3,4
86,15/05/2020 20:58:25,Prefiero no decirlo,44,NaN,profesor,40000,120000
87,16/05/2020 19:11:32,Hombre,32,Escorpio,Programador,50000,60000

In [0]:
df.columns

Index(['Marca temporal', '¿Con qué género te identificás?', '¿Qué edad tenés?',
       '¿De qué signo sos?', '¿A qué te dedicás?',
       '¿Cuánto creés que gana por mes un programador (con dos o menos años de experiencia) en la industria argentina?',
       '¿Cuánto creés que gana por mes un programador (con tres o más años de experiencia) en la industria argentina?'],
      dtype='object')

In [0]:
len(df)

88

In [0]:
df['Marca temporal']

0     31/03/2020 17:10:01
1     12/05/2020 15:19:14
2     13/05/2020 13:43:48
3     13/05/2020 18:12:04
4     14/05/2020 16:30:09
             ...
83    15/05/2020 18:55:53
84    15/05/2020 19:11:15
85    15/05/2020 19:11:46
86    15/05/2020 20:58:25
87    16/05/2020 19:11:32
Name: Marca temporal, Length: 88, dtype: object

## Variables y columnas

Para trabajar más cómodamente, renombraremos las columnas de DataFrame. Tengan cuidado de que el orden de los nombres nuevos se corresponda con el contenido de cada columna.

In [0]:
df.columns = ['timestamp', 'gender', 'age', 'zodiac_sign', 'profession', 'junior_programmer_salary', 'senior_programmer_salary']

In [0]:
df

,timestamp,gender,age,zodiac_sign,profession,junior_programmer_salary,senior_programmer_salary
0,31/03/2020 17:10:01,Mujer,27,Tauro,Programadora,40000,80000
1,12/05/2020 15:19:14,Mujer,40,Acuario,Docente investigadora,50000,90000
2,13/05/2020 13:43:48,Hombre,22,Géminis,Estudiante de Astronomía,25000,60000
3,13/05/2020 18:12:04,Mujer,23,Cáncer,profesora,32000,50000
4,14/05/2020 16:30:09,Hombre,33,Capricornio,Docente investigador,60000,80000
...,...,...,...,...,...,...,...
83,15/05/2020 18:55:53,Hombre,28,Picis,Data Engineer,60000,140000
84,15/05/2020 19:11:15,Otro,45,Géminis,Diseño gráfico,68000,80000
85,15/05/2020 19:11:46,Prefiero no decirlo,9,Libra,lksadaokpoqwe,3,4
86,15/05/2020 20:58:25,Prefiero no decirlo,44,NaN,profesor,40000,120000
87,16/05/2020 19:11:32,Hombre,32,Escorpio,Programador,50000,60000

In [0]:
df.timestamp

0     31/03/2020 17:10:01
1     12/05/2020 15:19:14
2     13/05/2020 13:43:48
3     13/05/2020 18:12:04
4     14/05/2020 16:30:09
             ...
83    15/05/2020 18:55:53
84    15/05/2020 19:11:15
85    15/05/2020 19:11:46
86    15/05/2020 20:58:25
87    16/05/2020 19:11:32
Name: timestamp, Length: 88, dtype: object

In [0]:
df['age']

0     27
1     40
2     22
3     23
4     33
      ..
83    28
84    45
85     9
86    44
87    32
Name: age, Length: 88, dtype: int64

In [0]:
## Valores medios, minimos y maximos

In [0]:
df.describe()

             age  junior_programmer_salary  senior_programmer_salary
count  88.000000                 88.000000                 88.000000
mean   33.522727              49523.500000              92342.431818
std    12.087780              16295.131364              95632.140156
min     9.000000                  3.000000                  4.000000
25%    26.000000              40000.000000              60000.000000
50%    30.000000              50000.000000              80000.000000
75%    38.000000              60000.000000              90000.000000
max    99.000000             100000.000000             900000.000000